<div class="book-summary">
    <nav role="navigation">
        <div id="book-search-input" role="search">
            <input type="text" placeholder="Type to search" />
        </div>
        <div id="book-search-input-link" role="search">
            <a href="{{site.baseurl}}/assets/search.html">Click to Search</a>
        </div>
        <ul class="summary" id="summary">
            <!-- {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/">
                    {{ site.title | escape }}
                </a>
            </li> -->

            {% if page.url == "/index.html" or page.url == "/" %}
            <li data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a class="chap" href="{{site.baseurl}}/">
                    {{ site.title | escape }}
                </a>
            </li>

            {% if page.url == "/References" %}
            <li data-level="1.1" data-path="{{site.baseurl}}/References">
            {% else %}
            <li data-level="1.1" data-path="{{site.baseurl}}/References">
            {% endif %}
                <a class="chap" href="{{site.baseurl}}/References">
                    References
                </a>
            </li>
            
            <hr></hr>
            <li class="divider"></li>
            
            {% include nav-tree.html %}

            <script>
                // var navSelectWorker = new SharedWorker("{{site.baseurl}}/assets/modified_files/navSelectWorker.js");
                //监听.chapter <a>的点击事件
                // var chapters = document.querySelectorAll(".chapter");
                // for (var i = 0; i < chapters.length; i++) 
                //     chapters[i].addEventListener("click", function (e) {
                //         if(e.target.innerText== "DNote")
                //             navSelectWorker.port.postMessage("DNote");
                //         else if(e.target.innerText == "References")
                //             navSelectWorker.port.postMessage("References");
                //     });
                
                var pageURL = decodeURIComponent(window.location.href);

                if (pageURL.includes("{{site.baseurl}}/notes/") || pageURL.split("/")[pageURL.split("/").length-1]==""){
                    var chapters = document.querySelectorAll(".chap");
                    for (var i = 0; i < chapters.length; i++) {
                        if(chapters[i].innerText == "DNote")
                            chapters[i].className += " my-docs";
                    }
                    var treeRaw = new Array();

                    {% for note in site.notes %}
                        treeRaw.push("{{note.path}}");
                    {% endfor %}

                    generateNavTree("my-docs",treeRaw);
                }else if(pageURL.includes("{{site.baseurl}}/references/") || pageURL.split("/")[pageURL.split("/").length-1]=="References"){
                    var chapters = document.querySelectorAll(".chap");
                    for (var i = 0; i < chapters.length; i++) {
                        if(chapters[i].innerText == "References")
                            chapters[i].className += " reference-docs";
                    }
                    var treeRaw = new Array();

                    {% for reference in site.references %}
                        treeRaw.push("{{reference.path}}");
                    {% endfor %}
                    
                    generateNavTree("reference-docs",treeRaw);
                }
                    // else{
                //     navSelectWorker.port.onmessage = function (e) {
                //     var nav = e.data;
                //     if(nav == "DNote")
                //         generateNoteNavTree();
                //     else if(nav == "References")
                //         generateReferenceNavTree();
                // };
            </script>

        </ul>
    </nav>
    
    <footer style="
        left: 0;
        background: #141c2e;
        display: flex;
        justify-content: center;
        bottom: 0;
        width: 100%;
        color: #ffff;">made by 
        <a href="https://sighingnow.github.io/jekyll-gitbook" style="color: #41515c;">&ensp;jekyll-gitbook </a>
    </footer>
</div>
