<div class="book-summary">
    <nav role="navigation">
        <div id="book-search-input" role="search">
            <input type="text" placeholder="Type to search" />
        </div>
        <div id="book-search-input-link" role="search">
            <a href="{{site.baseurl}}/assets/search.html">Click to Search</a>
        </div>
        <ul class="summary" id="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/">
                    {{ site.title | escape }}
                </a>
                <hr></hr>
            </li>

            <li class="divider"></li>
            
            <script>
                var summary = document.getElementById("summary");
                var hrefPrev = "/DNote/notes/DNote_Notes/";
                var treeRaw = new Array();
                var tree = new Array();
                {% for note in site.notes %}
                    treeRaw.push("{{note.path}}");
                {% endfor %}
                for (var i in treeRaw)
                {
                    var fileNodeList = treeRaw[i].split("/"); 
                    fileNodeList.shift();
                    fileNodeList.shift();
                    tree.push(fileNodeList);
                }
                
                for (var i in tree)
                {
                    var path = tree[i];
                    var pathLevel = hrefPrev+"";
                    for(var j in path)
                    {
                        var FolderNode=path[j];
                        var haveSameParent = false;
                        var haveSameNode = false;
                        var parentNode = summary;
                        var summaryChildren = summary.getElementsByTagName("li");
                        for(var k in summaryChildren)
                            if(summaryChildren[k].dataset!=null && summaryChildren[k].dataset.path==pathLevel)
                            {
                                haveSameParent = true;
                                parentNode = summaryChildren[k];
                                break;
                            }
                        pathLevel+=FolderNode+"/";
                        for(var k in summaryChildren)
                            if(summaryChildren[k].dataset!=null && summaryChildren[k].dataset.path==pathLevel)
                            {
                                haveSameNode=true;
                                break;
                            }
                        var parentChildren = parentNode.children;
                        for(var i in parentChildren)
                            if(parentChildren[i].tagName=="UL")
                                parentNode = parentChildren[i];
                        if(!haveSameNode)
                        {
                            var node = document.createElement("li");
                            var text = document.createElement("a");
                            var childList = document.createElement("ul");
                            
                            node.className = "remaked-navigation";
                            node.dataset.path=pathLevel;
                            if(FolderNode.includes(".md"))
                            {
                                FolderNode = FolderNode.substring(0, FolderNode.lastIndexOf("."));
                                pathLevel = pathLevel.substring(0, pathLevel.lastIndexOf("."));
                                text.href = pathLevel;
                            }
                            else{
                                text.className="iconfont icon-111111111";
                            }
                            text.innerHTML = FolderNode;
                            node.appendChild(text);
                            node.appendChild(childList);
                            parentNode.appendChild(node);
                        }
                    }
                }
            </script>

        </ul>
    </nav>
    
    <footer style="left: 0;
        background: #141c2e;
        display: flex;
        justify-content: center;
        color: #ffff;">made by 
        <a href="https://sighingnow.github.io/jekyll-gitbook" style="color: #41515c;">&ensp;jekyll-gitbook </a>
    </footer>
</div>
