<!-- 一个用于添加作者和提交时间的文件 -->
<span style="
color: #b5d3ca;
font-style: italic;
font-family: YouYuan;
top:100px;
display: none;"
id="modified-data-footer">
    <hr></hr>
    <!-- <center>
        最后编辑时间：{{page.last_modified_at | date: "%Y-%m-%dT%H:%M:%SZ" }}
    </center> -->
</span>

<script>
    var git_url="https://api.github.com/repos/{{site.git_repo.user}}/{{site.git_repo.repo}}/";
    var pageURL = decodeURIComponent(window.location.href);
    var footer_time = document.getElementById("modified-data-footer");
    pageURL = ("_"+pageURL.substring(pageURL.indexOf("notes/"),pageURL.length)).replace(new RegExp("#.*"),"")+".md";
    function enableElement(element){
        element.getAttributeNode("style").value=element.getAttributeNode("style").value.replace("display: none","display: block");
    }
    function footer_enable_func(curCommit){
        if(curCommit){
            var commitDate=curCommit.commit.committer.date;
            var commitAuthor=curCommit.commit.author.name
            if(commitDate)
                {
                    enableElement(footer_time);
                    footer_time.innerHTML="<hr></hr><center>作者："+commitAuthor+"<br>"+"最后提交时间："+commitDate+"</center>";
                }
        }
    }

    // % if page.last_modified_at %
        // enableElement(footer_time);
    
    var worker=new Worker("{{site.baseurl}}/assets/worker.js");
    var cache = new SharedWorker("{{site.baseurl}}/assets/footer_cache.js");
    var commitsOverview=null;
    var commitsCache=null;
    var data={git_url,pageURL,commitsOverview,commitsCache};
    cache.port.onmessage = function (e) {
        commitsOverview=e.data.commitsOverview;
        commitsCache=e.data.commitsCache;
    }
    window.addEventListener('pageChangeEvent',function(e){
        worker.postMessage(data);
        var math = document.getElementsByClassName("hidden_panel");
        MathJax.Hub.Queue(["Typeset",MathJax.Hub,math]);
    });
    worker.onmessage = function (e) {
        commitsOverview=e.data.commitsOverview;
        var singleCache=e.data.singleCache;
        cache.port.postMessage(commitsOverview,singleCache);
        if(e.data.commit&&pageURL==e.data.singleCache.pageURL)
            footer_enable_func(e.data.commit);
    }
</script>
