<span style="
color: #b5d3ca;
font-style: italic;
font-family: YouYuan;
top:100px;
display: none;"
id="modified-data-footer">
    <hr></hr>
    <!-- <center>
        最后编辑时间：{{page.last_modified_at | date: "%Y-%m-%dT%H:%M:%SZ" }}
    </center> -->
</span>

<script>
    var git_url="https://api.github.com/repos/{{site.git_repo.user}}/{{site.git_repo.repo}}/";
    var pageURL = decodeURIComponent(window.location.href);
    var footer_time = document.getElementById("modified-data-footer");
    pageURL = "_"+pageURL.substring(pageURL.indexOf("notes/"),pageURL.length).replace("#reloaded","")+".md";
    function getHtmlText(url) {
        var request = new XMLHttpRequest();
        request.open('GET', url, false);
        request.send();
        return request.responseText;
    }
    function getGitFileInfo(){
        return JSON.parse(getHtmlText(git_url+"contents/"+pageURL));
    }
    function getCommit(sha=null){
        return JSON.parse(getHtmlText(git_url+"commits"+(sha?"/"+sha:"?per_page=1000")));
    }
    function enableElement(element){
        element.getAttributeNode("style").value=element.getAttributeNode("style").value.replace("display: none","display: block");
    }
    function getCurrentCommit(){
        var fileSHA=getGitFileInfo().sha;
        var commits = getCommit();
        for(var i in commits){
            var commit= getCommit(commits[i].sha);
            for(var k in commit.files)
                if(commit.files[k].sha==fileSHA)
                    return commit;
        }
    }
    async function footer_enable_func(){
        var curCommit=await getCurrentCommit();
        var commitDate=curCommit.commit.committer.date;
        var commitAuthor=curCommit.commit.author.name
        if(commitDate)
            {
                enableElement(footer_time);
                footer_time.innerHTML="<hr></hr><center>作者："+commitAuthor+"<br>"+"最后提交时间："+commitDate+"</center>";
            }
    }
    // % if page.last_modified_at %
        // enableElement(footer_time);

    // footer_enable_func();
</script>
