.tableDiv {
    width: 100%;
    overflow: auto;
}

body {
    overflow: hidden;
}

.book-header {
    display: flex;
}

.remade-navigation {}

.my-docs-btn {
    color: #c0c5ff !important;
}

.reference-docs-btn {
    color: #c5f0ff !important
}

.my-docs {
    color: #989dce !important;
}

.reference-docs {
    color: #98bfce !important
}

.remade-ul {
    display: none;
}

.remade-ul-active {
    display: block;
}

.remade-ul-active-animation {
    display: block;
    animation: s 200ms;
}

.navigation-text-properties {
    user-select: none;
}

.remade-toc {
    color: #aaa873 !important;
    user-select: none;
}

.search-results-item {
    color: #626f70 !important;
}

.book-summary ul.summary li span {
    display: inline;
    padding: 0;
    text-overflow: unset;
    overflow: unset;
}

/* 自定义的details三角 */
details summary::before {
    content: '';
    position: absolute;
    width: 1em;
    height: 1em;
    margin: .3em 0 0 -1.3em;
    background: url("https://www.zhangxinxu.com/study/201801/arrow-on.svg") no-repeat;
    background-size: 100% 100%;
    transition: transform .2s;
}

details {
    background-color: #323646;
}

details summary {
    margin-left: 1.5em;
}

details summary {
    font-family: monospace;
}

details:not([open]) summary::before {
    transform: rotate(90deg);
}

details[open] summary::before {
    transform: rotate(180deg);
}

/* .page-inner {
    max-width: 850px !important;
} */

@keyframes s {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}